<MudButton OnClick="@OnClick" FullWidth="true"
           Style="@_style"
           class="px-4 py-2" DisableElevation="true">
    <div style="width: 100%;">
        <div class="d-flex justify-space-between px-2">
            @if (ImageSrc is not null)
            {
                <div class="d-flex">
                    <MudImage Src="@ImageSrc" Width="50" Height="50" Alt="Burger" Elevation="0"/>
                    <div class="d-flex flex-column ml-4 align-self-center">
                        <MudText Typo="Typo.body2">
                            @FirstMainText
                        </MudText>
                        <MudText Typo="Typo.body2" Align="Align.Start">
                            <b>x @FirstSubText</b>
                        </MudText>
                    </div>
                </div>
                <div class="d-flex flex-column align-self-center">
                    <MudText Typo="Typo.body2">
                        @SecondMainText
                    </MudText>
                    <MudText Typo="Typo.body2">
                        <b>@SecondSubText</b>
                    </MudText>
                </div>
            }
            else
            {
                <div class="d-flex">
                    <div class="d-flex flex-column align-self-center">
                        <MudText Typo="Typo.body2">
                            <b>@FirstMainText</b>
                        </MudText>
                        <MudText Typo="Typo.body2" Class="mt-2" Align="Align.Start">
                            @FirstSubText
                        </MudText>
                    </div>
                </div>
                <div class="d-flex flex-column align-self-center">
                    <MudText Typo="Typo.body2" Align="Align.End">
                        <b> @SecondMainText</b>
                    </MudText>
                    <MudText Typo="Typo.body2" Class="mt-2" Align="Align.End">
                        @SecondSubText
                    </MudText>
                </div>
            }
        </div>
    </div>
</MudButton>

@code {

    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter] public string? ImageSrc { get; set; }

    [Parameter] public string? FirstMainText { get; set; }

    [Parameter] public string? FirstSubText { get; set; }

    [Parameter] public string? SecondMainText { get; set; }

    [Parameter] public string? SecondSubText { get; set; }

    [Parameter] public bool IsSelected { get; set; }

    string? _style = "background-color: whitesmoke;border-radius: 5px;";

    protected override void OnParametersSet()
    {
        _style = IsSelected ? "background-color: gainsboro;border-radius: 5px;" : "background-color: whitesmoke;border-radius: 5px;";
    }

}