@using Friday.ERP.Shared.DataTransferObjects
@using Friday.ERP.Client.Data
@inject IHttpRepository HttpRepo

<style>
      .new_notification{
      background-color:ghostwhite;
      border-radius: 5px;
      margin-bottom:5px;
      }
      .new_notification:hover {
      background-color: whitesmoke;
      border-radius: 5px;
            margin-bottom:5px;
            }
    .old_notification{
          background-color:white;
          border-radius: 5px;
          margin-bottom:5px;
          }
          .old_notification:hover {
          background-color: whitesmoke;
          border-radius: 5px;
                margin-bottom:5px;
        }
</style>

<MudContainer Class="my-1" Style="width:25vw;">
    <MudGrid>
        <MudItem xs="6" Class="align-self-center">
            <MudText Typo="Typo.subtitle1">အသိပေးချက်များ</MudText>
        </MudItem>
    </MudGrid>
    <MudDivider Class="my-2"/>
    @if (NotificationList!.Count == 0)
    {
        <MudMenuItem Class="py-1 px-2" Disabled="true">
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.body2">No New Notifications</MudText>
                </MudItem>
            </MudGrid>
        </MudMenuItem>
    }
    else
    {
        foreach (var notification in NotificationList)
        {
            <MudMenuItem OnClick="() => ReadNotifications(notification.Guid)" Class="@(notification.HaveRead ? "old_notification" : "new_notification")">
                <div class="d-flex flex-row justify-space-between">
                    <MudText Typo="@Typo.body1" Style="font-weight:bold">@notification.Heading</MudText>
                    <MudText Align="Align.Right" Typo="@Typo.caption">@notification.SentAt.ToString("yyyy-MM-dd HH:mm:ss")</MudText>
                </div>
                <MudText Typo="@Typo.subtitle2" Style="font-weight:lighter">@notification.Body</MudText>
            </MudMenuItem>
            <MudDivider Class="my-2"/>
        }
    }
</MudContainer>

@code {

    [Parameter] public List<NotificationViewDto>? NotificationList { get; set; }

    async Task ReadNotifications(Guid guid)
    {
        _ = await HttpRepo.ReadNotificationByGuid(guid);
        StateHasChanged();
    }

}